 <!-- ========== footer start =========== -->
 <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 order-last order-md-first">
          <div class="copyright text-center text-md-start">
            <p class="text-sm">
              National Energy Conservation Award (NECA) 2020 <br>                                
              Site best viewed in Mozilla Firefox, Chrome, Safari & IE edge
            </p>
          </div>
        </div>
        <!-- end col-->
        <div class="col-md-6">
          <div
            class="terms d-flex justify-content-center justify-content-md-end">
            Version 2.0.0 Build 20201103 <br>                       
            Developed and Maintained By UED
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </footer>
  <!-- ========== footer end =========== -->