 <!-- ========== section start ========== -->
 <section class="section">
    <div class="container-fluid p-3">
      <!-- ========== title-wrapper start ========== -->
    
      <div class="row">
      
        <!-- End Col -->
        <div class="col-lg-12">
          <div class="card-style mb-30">
            <div
              class="title d-flex flex-wrap align-items-center justify-content-between">
              <div class="left">
                <h6 class="text-medium mb-30">Sales History</h6>
              </div>
              <div class="right">
                <div class="select-style-1">
                  <div class="select-position select-sm">
                    <select class="light-bg">
                      <option value="">Today</option>
                      <option value="">Yesterday</option>
                    </select>
                  </div>
                </div>
                <!-- end select -->
              </div>
            </div>
            <!-- End Title -->
            <div class="table-responsive" *ngIf="samplatList">
              <table class="table top-selling-table">
                <thead>
                  <tr>
                    <th>
                      <h6 class="text-sm text-medium">Avatar</h6>
                    </th>
                    <th class="min-width">
                      <h6 class="text-sm text-medium">
                        First Name <i class="lni lni-arrows-vertical"></i>
                      </h6>
                    </th>
                    <th class="min-width">
                      <h6 class="text-sm text-medium">
                        Last Name <i class="lni lni-arrows-vertical"></i>
                      </h6>
                    </th>
                    <th class="min-width">
                      <h6 class="text-sm text-medium">
                        Email <i class="lni lni-arrows-vertical"></i>
                      </h6>
                    </th>
                    <th>
                      <h6 class="text-sm text-medium text-end">
                        Actions <i class="lni lni-arrows-vertical"></i>
                      </h6>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of samplatList.data">
                    <td>
                      <div class="image">
                        
                      <img [src]="data.avatar">
                      </div>
                    </td>
                    <td>
                      <p class="text-sm">{{data.first_name}}</p>
                    </td>
                    <td>
                      <p class="text-sm">{{data.last_name}}</p>
                    </td>
                    <td>
                      <span class="status-btn close-btn">{{data.email}}</span>
                    </td>
                    <td>
                      <div class="action justify-content-end">
                        <button class="edit">
                          <i class="lni lni-pencil"></i>
                        </button>
                        <button
                          class="more-btn ml-10 dropdown-toggle"
                          id="moreAction1"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="lni lni-more-alt"></i>
                        </button>
                        <ul
                          class="dropdown-menu dropdown-menu-end"
                          aria-labelledby="moreAction1"
                        >
                          <li class="dropdown-item">
                            <a href="#0" class="text-gray">Remove</a>
                          </li>
                          <li class="dropdown-item">
                            <a href="#0" class="text-gray">Edit</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                 
                
                </tbody>
              </table>
              <!-- End Table -->
              <app-paging [TotalPage]="samplatList.total_pages"></app-paging>
            </div>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- end container -->
  </section>
  <!-- ========== section end ========== -->