
 <header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-4">
        <a routerLink="/home"> <img src="assets/images/logo/govt.png" alt="govt" class="image-govt"></a>
        </div>
        <div class="col-lg-4 col-md-4 col-4 text-center">
         <span class="header-title mt-2">
           National Energy Conservation Award (NECA) 2020
         </span>
        </div>
        <div class="col-lg-4 col-md-4 col-4">
          <img src="assets/images/logo/logo.png" alt="govt" class="image-logo">
        </div>
      </div>
    </div>
  </header>
  
